<!DOCTYPE html>

<html lang="en">

<head>

    <title>World Bank Data Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/wdb-style.css">

    <link rel="shortcut icon" href="../assets/favicon/wbd-favicon.ico" type="image/x-icon">
    <link rel="icon" href="../assets/favicon/wbd-favicon.ico" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
<div class="body-wrap">

    <nav class="navbar navbar-inverse navbar-expand-lg ml-auto">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar mt-3"></span>
                <span class="icon-bar mt-3"></span>
            </button>
            <a class="navbar-brand p-3" style="font-weight: bold" href="https://www.worldbank.org">World Bank Dashboard</a>
        </div>

        <div class="collapse navbar-collapse mt-10" id="navbarMenu">
            <ul class="nav navbar-nav navbar-right  bts-nav">

                <li class="dropdown active" style="color: #fff">
                    <a style="color: #fff">Soumitra Edake<span class="sr-only">(current)</span></a>
                    <ul class="dropdown-menu">
                        <li style="color: #fff">
                            <a href="https://github.com/s0umitra/">
                                <img src="../assets/img/ico_github.png" alt="github"
                                     class="img-fluid" style="max-width: 32px">
                                GitHub
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/soumitraedake/">
                                <img src="../assets/img/ico_linkedin.png" alt="linkedin"
                                     class="img-fluid" style="max-width: 32px">
                                LinkedIn
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" style="color: #000000">
                    <a>About<span class="caret"></span></a>
                    <ul class="dropdown-menu"  style="width: 300px !important">
                        This is a Practice Exercise.
                        Demonstrates Data Wrangling and Visualisation using flask.
                        Dataset is collected using World Bank Data API,
                        further it is cleaned and transformed.
                        Plotly is used for visualizing graphs.
                    </ul>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container">

        <div class="row justify-content-md-center">

            <div class="col-sm-10">
                <div id="tag-line" class="mt-3 ml-5" style="text-align: center">
                    <h2 style="font-weight: bolder">Top 10 World Economies Land Use</h2>
                    <h4 class="text-muted ml-2" style="font-weight: bold;">(using World Bank Data API)</h4>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="dropdown">

                    <button class="btn btn-danger btn-lg dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Filter</button>

                    <div class="dropdown-menu" style="padding: 10px;" aria-labelledby="dropdownMenuButton" id="check-boxes">
                        <div class="form-check ml-3" style="width: 300px !important">

                            {% if countries_selected|length == 15 %}
                            <input class="form-check-input" type="checkbox" name="Select All" value="selectall" id="select-all-check" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" name="Select All" value="selectall" id="select-all-check">
                            {% endif %}
                            <label class="form-check-label" for="select-all-check">Select All</label>
                        </div>
                        <li class="divider"></li>

                        <form class="px-4 py-3"  role="form" method="post" action="/" id="form-filter">
                            <div style="columns: 2;">
                                {% for country in all_countries %}
                                <div class="form-check" >

                                    {% if country[1] in countries_selected %}
                                    <input class="form-check-input country-check" type="checkbox" name="{{ country[0] }}" value="{{ country[1] }}" id="defaultCheck1-{{country[1]}}" checked>
                                    {% else %}
                                    <input class="form-check-input country-check" type="checkbox" name="{{ country[0] }}" value="{{ country[1] }}" id="defaultCheck1-{{country[1]}}">
                                    {% endif %}
                                    <label class="form-check-label" for="defaultCheck1-{{country[1]}}">{{country[0]}}</label>
                                </div>
                                {% endfor %}
                            </div>
                            <div>
                                <li class="divider"></li>
                                <button id="country_selector" type="submit" class="btn btn-primary my-1">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <hr>

    <div class="container-fluid">

        <div id="charts" style="margin-top: 30px">

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4 d-flex justify-content-center">
                    <div id="{{ids[0]}}"></div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4 d-flex justify-content-center">
                    <div id="{{ids[1]}}"></div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row mt-6">
                <div class="col-sm-1"></div>
                <div class="col-sm-4 d-flex justify-content-center">
                    <div id="chart3">
                        <div id="{{ids[2]}}"></div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4 d-flex justify-content-center">
                    <div id="chart4">
                        <div id="{{ids[3]}}"></div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row mt-6">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 d-flex justify-content-center">
                    <div id="chart5">
                        <div id="{{ids[4]}}"></div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>

    <div style="margin-top:50px; text-align: right; background-color: #222">
        <label style="color: #919191; margin: 10px; padding-right: 30px">
            © Soumitra Edake 2020, Source Code is available at
            <a style="color: #ffffff" href="https://github.com/s0umitra/dash-101-wdb">dash-101-wdb</a>
        </label>
    </div>
</div>
</body>


<footer>
    <script type="text/javascript">

        var figures = {{figuresJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        };

        $("#select-all-check").change(function () {
            $("#check-boxes input:checkbox").prop('checked', $(this).prop('checked'));
        });

        $("#form-filter").change(function () {
            if (!$(this).prop('checked')) {
                $("#select-all-check").prop('checked', false);
            }
        });

        $("#form-filter").change(function () {
            if ($(".country-check:checked").length === $('.form-check').length - 1) {
                $("#select-all-check").prop('checked', true);
            }
        });

        $(document).ready(function(){
            var wWidth = $(window).width();
            if(wWidth > 768){
                $("ul.bts-nav li").hover(function(){
                    $(this).children("ul").slideToggle(400);
                });
            }
            if(wWidth <= 768) {
                $("ul.bts-nav li a").click(function(){
                    $(this).next("ul").slideToggle(400);
                });
            }
        });

    </script>

</footer>

</html>